doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Anna Evlanova | Front-end Developer
  body
    .container
      section.section
        h1.title.is-2  Anna Evlanova
        h2.subtitle.is-4
          | Front-end Developer
        .columns
          .column.is-8
            .content
              p
                | Over 5 years of experience in building web applications using Vanilla JS and JavaScript Frameworks (React.js, Vue.js). Looking for a place where my talent and skills can be used to build a new technological future based on quality written code and best practices solutions. I believe that my experience and attitude is the best option for any company which wants to grow together.
          .column
            p.has-text-right
              a(href='mailto: unicorn.eating.popcorn@gmail.com')
                i.icon-mail
                span unicorn.eating.popcorn@gmail.com
            p.has-text-right
              a(href='https://github.com/UnicornEatingPopcorn')
                i.icon-github
                span UnicornEatingPopcorn

      section.section
        h2.title.is-4 Skills
        .columns
          .column
            ul
              li
                span.icon.icon-bolt
                |                 React.js / Redux / React Router
              li
                span.icon.icon-bolt
                |                 Semantic UI / Bulma / Bootstrap/ Ant Design/ Material UI
              li
                span.icon.icon-bolt
                |                 Ruby on Rails / SQL and PostgreSQL
          .column
            ul
              li
                span.icon.icon-bolt
                |                 Javascript / Vue 3 linted with ESLint / Typescript / GatsbyJS
              li
                span.icon.icon-bolt
                |                 SASS / SCSS / BEM / Css Grid
              li
                span.icon.icon-bolt
                |                 Pug / Slim / Haml / Markdown
      section.section
        h2.title.is-4 Latest project
        .tile.is-ancestor.mb-3
          .tile.is-parent
            .tile.is-child.box
              .fixed-grid.has-2-cols
                .grid
                  .cell
                    .column.is-col-min-10
                      h3.title.is-5.mb-3 Savings United, Germany
                      .subtitle.is-6
                        | Mid-level Frontend Developer
                      ul
                        li
                          span.icon.icon-checkmark
                          | Maintain existing project, using Vanilla JS, HTML, SCSS
                        li
                          span.icon.icon-checkmark
                          | Create and update CMS, using Vue.js
                        li
                          span.icon.icon-checkmark
                          | Implement new features and elements into .erb files, working closely with ruby and sql
                  .cell
                    .column
                      a(href="https://drive.google.com/drive/folders/1u0mZUqJ9qv4OuxdOVHTWwtc5K_u8M1-8?usp=drive_link")
                        span Click here to see my latest Portfolio. It will navigate you to Google Drive folder.
        .tile.is-ancestor.mb-3
          .tile.is-parent
            .tile.is-child.box
              h3.title.is-5.mb-3 TogetherPrice, Italy
              .subtitle.is-6
                | Frontend Engineer
              ul
                li
                  span.icon.icon-checkmark
                  | Create new landings with GatsbyJS
                li
                  span.icon.icon-checkmark
                  | Adapt old features for new design
                li
                  span.icon.icon-checkmark
                  | Fix bugs and adjust old components on React.js
        .tile.is-ancestor.mb-3
          .tile.is-parent
            .tile.is-child.box
              h3.title.is-5.mb-3 CRM System for Russian Building Company
              .subtitle.is-6
                | Frontend Engineer
              ul
                li
                  span.icon.icon-checkmark
                  | Manage already existed code, fix bugs
                li
                  span.icon.icon-checkmark
                  | Create new components, using React.js, add new features
                li
                  span.icon.icon-checkmark
                  | Refactor code to make it readable and faster
        .tile.is-ancestor.mb-3
          .tile.is-parent
            .tile.is-child.box
              h3.title.is-5.mb-3 Mobile encyclodepia for Japanese game characters
              .subtitle.is-6
                | Frontend Engineer
              ul
                li
                  span.icon.icon-checkmark
                  | Create project from the scratch
                li
                  span.icon.icon-checkmark
                  | Using Vue.js create components, connect API
                li
                  span.icon.icon-checkmark
                  | Visualize pretty design^^

      section.section
        .columns.is-multiline
          .column.is-8
            h2.title.is-4 Pet Projects
            .columns.is-multiline
              .column.is-6
                .card
                  .card-image
                    figure.image.is-16by9
                      img(src='/assets/images/libraries.png')
                  .card-content
                    h4.title.is-5 Russian Libraries Statistic
                    p.subtitle.is-6 Display statistic info by Russian regions with React.js and Ant Design for frontend
                    p
                      a(href='https://github.com/UnicornEatingPopcorn/russianLibraries')
                        i.icon.icon-github
                        span Libraries Statistic Code
                    p
                      a(href='https://youtu.be/AmkCnr1v88I')
                        i.icon.icon-youtube
                        span Libraries Statistic Video
              .column
                .card
                  .card-image
                    figure.image.is-16by9
                      img(src='/assets/images/weather.jpeg')
                  .card-content
                    h4.title.is-5 Weather Forecast
                    p.subtitle.is-6 Display 5-days forecast in any city of the world with Vue.js.
                    p
                      a(href='https://github.com/UnicornEatingPopcorn/weatherForecast')
                        i.icon.icon-github
                        span Forecast Code
                    p
                      a(href='https://youtu.be/hnuK-m8T8s0')
                        i.icon.icon-youtube
                        span Forecast Video
              .column.is-6
                .card
                  .card-image
                    figure.image.is-16by9
                      img(src='/assets/images/questions.png')
                  .card-content
                    h4.title.is-5 Trip Questions
                    p.subtitle.is-6 Web travel booking form with calendars with Vue.js for frontend
                    p
                      a(href='https://github.com/UnicornEatingPopcorn/questions-form')
                        i.icon.icon-github
                        span Trip Questions Code
                    p
                      a(href='https://youtu.be/vfe8NoMW4l0')
                        i.icon.icon-youtube
                        span Trip Questions Video
              .column
                .card
                  .card-image
                    figure.image.is-16by9
                      img(src='/assets/images/clown.png')
                  .card-content
                    h4.title.is-5 Clown glitch
                    p.subtitle.is-6 Practice of using CSS-tricks for glitch effect on any element.
                    p
                      a(href='https://github.com/UnicornEatingPopcorn/clown')
                        i.icon.icon-github
                        span Clown Glitch Code
                    p
                      a(href='https://youtu.be/N_7sn2KxYG4')
                        i.icon.icon-youtube
                        span Clown Video
          .column.in-4
            h2.title.is-4 Favourite resources
            .columns.is-multiline
              .column
                .title.is-5.mb-3
                  | Courses
                ul.subtitle.is-6
                  li
                    i.icon.icon-library
                    |  Vue Mastery
                  li
                    i.icon.icon-library
                    |  Codewars
                  li
                    i.icon.icon-library
                    |  Udemy.com
                br
                .title.is-5.mb-3
                  | Books
                ul.subtitle.is-6
                  li
                    i.icon.icon-open-book
                    | Eloquent JavaScript
                  li
                    i.icon.icon-open-book
                    | The Imposter's Handbook
                  li
                    i.icon.icon-open-book
                    | Creating Interfaces with Bulma
      footer.section
        nav.level.is-mobile
          .level-left
            .level-item.bg-white
              a(href='http://bulma.io')
                img(src='/assets/images/made-with-bulma.png', alt='Made with Bulma', width='128', height='24')
          .level-right
            a.level-item(href='/assets/AnnaEvlanova_FrontendDeveloper.pdf')
              i.icon.icon-file-text2
              |                 Download PDF
      script(type='text/javascript', src='lib/main.js')
