doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Anna Evlanova | Front-end Developer
  body
    .container
      section.section
        h1.title.is-2  Anna Evlanova
        h2.subtitle.is-4
          | Front-end Developer
        .columns
          .column.is-8
            .content
              p
                | My specializion is in turning design visions into seamless, pixel-perfect web experiences. Working with technologies like Vanilla JavaScript, Ruby on Rails, Vue.js, React.js, React Native, SASS, and MySQL, I build scalable applications that not only perform well but are a joy to use.
                In my day-to-day, managing projects with ClickUp for sprint planning and keep the team connected through Slack. I’m passionate about streamlining processes, automating tasks with CircleCI to ensure smooth testing, linting, and deployment. Also focus on mentoring new team members, conducting code reviews, and ensuring we maintain a high standard of quality.
                Optimizing performance is a key priority—whether it’s speeding up load times with Google Cloud or making data-driven decisions through A/B testing and Google Analytics. I believe in continuously improving the user experience with updates that really make an impact.
          .column
            p.has-text-right
              a(href='mailto: unicorn.eating.popcorn@gmail.com')
                i.icon-mail
                span unicorn.eating.popcorn@gmail.com
            p.has-text-right
              a(href='https://github.com/UnicornEatingPopcorn')
                i.icon-github
                span UnicornEatingPopcorn

      section.section
        h2.title.is-4 Skills
        .columns
          .column
            ul
              li
                span.icon.icon-bolt
                |                 React.js / React Native with Expo
              li
                span.icon.icon-bolt
                |                 Redux / React Router
              li
                span.icon.icon-bolt
                |                 HTML / Haml / Markdown
              li
                span.icon.icon-bolt
                |                 Ruby on Rails / SQL and PostgreSQL
              li
                span.icon.icon-bolt
                |                 Semantic UI / Bulma / Bootstrap
              li
                span.icon.icon-bolt
                |                 Ant Design / Material UI

          .column
            ul
              li
                span.icon.icon-bolt
                |                 Javascript / Typescript
              li
                span.icon.icon-bolt
                |                 Vue.js/ Vue-Router/ Vuex
              li
                span.icon.icon-bolt
                |                 GatsbyJS / Vite
              li
                span.icon.icon-bolt
                |                 SASS / SCSS / CSS
              li
                span.icon.icon-bolt
                |                 BEM / Grid
              li
                span.icon.icon-bolt
                |                 Pug / Slim

      section.section
        h2.title.is-4 Latest project
        .tile.is-ancestor.mb-3
          .tile.is-parent
            .tile.is-child.box
              .fixed-grid.has-2-cols
                .grid
                  .cell
                    .column.is-col-min-10
                      h3.title.is-5.mb-3 Savings United, Germany
                      .subtitle.is-6
                        | Mid-level Frontend Developer
                      ul
                        li
                          span.icon.icon-checkmark
                          | Maintain existing project, using Vanilla JS, HTML, SCSS
                        li
                          span.icon.icon-checkmark
                          | Create and update CMS, using Vue.js
                        li
                          span.icon.icon-checkmark
                          | Implement new features and elements into .erb files, working closely with ruby and sql
                  .cell
                    .column
                      a(href="https://drive.google.com/drive/folders/1u0mZUqJ9qv4OuxdOVHTWwtc5K_u8M1-8?usp=drive_link")
                        span Click here to see my latest Portfolio. It will navigate you to Google Drive folder.
        .tile.is-ancestor.mb-3
          .tile.is-parent
            .tile.is-child.box
              h3.title.is-5.mb-3 TogetherPrice, Italy
              .subtitle.is-6
                | Frontend Engineer
              ul
                li
                  span.icon.icon-checkmark
                  | Create new landings with GatsbyJS
                li
                  span.icon.icon-checkmark
                  | Adapt old features for new design
                li
                  span.icon.icon-checkmark
                  | Fix bugs and adjust old components on React.js
        .tile.is-ancestor.mb-3
          .tile.is-parent
            .tile.is-child.box
              h3.title.is-5.mb-3 CRM System for Russian Building Company
              .subtitle.is-6
                | Frontend Engineer
              ul
                li
                  span.icon.icon-checkmark
                  | Manage already existed code, fix bugs
                li
                  span.icon.icon-checkmark
                  | Create new components, using React.js, add new features
                li
                  span.icon.icon-checkmark
                  | Refactor code to make it readable and faster
        .tile.is-ancestor.mb-3
          .tile.is-parent
            .tile.is-child.box
              h3.title.is-5.mb-3 Mobile encyclodepia for Japanese game characters
              .subtitle.is-6
                | Frontend Engineer
              ul
                li
                  span.icon.icon-checkmark
                  | Create project from the scratch
                li
                  span.icon.icon-checkmark
                  | Using Vue.js create components, connect API
                li
                  span.icon.icon-checkmark
                  | Visualize pretty design^^

      section.section
        .columns.is-multiline
          .column.is-8
            h2.title.is-4 Pet Projects
            .columns.is-multiline
              .column.is-6
                .card
                  .card-image
                    figure.image.is-16by9
                      img(src='/assets/images/weatherForecast.png')
                  .card-content
                    h4.title.is-5 Weather Forecast App
                    p.subtitle.is-6 Vue3, Vue-Router, Vuex, Vite in implementation of weather forecast app. API provided by https://openweathermap.org/
                    p
                      a(href='https://github.com/UnicornEatingPopcorn/weatherForecast')
                        i.icon.icon-github
                        span Weather Forecast Code
                    p
                      a(href='https://youtu.be/SZyOucL1_LA')
                        i.icon.icon-youtube
                        span Weather Forecast Video
              .column
                .card
                  .card-image
                    figure.image.is-16by9
                      img(src='/assets/images/search-images.png')
                  .card-content
                    h4.title.is-5 Search Images App
                    p.subtitle.is-6 Demo of using Unsplash API for search images
                    p
                      a(href='https://github.com/UnicornEatingPopcorn/search-images-api')
                        i.icon.icon-github
                        span Search Image Code
                    p
                      a(href='https://youtu.be/jQ9oDaRspIA')
                        i.icon.icon-youtube
                        span Search Image Video
              .column.is-6
                .card
                  .card-image
                    figure.image.is-16by9
                      img(src='/assets/images/seasons.png')
                  .card-content
                    h4.title.is-5 Check Season App
                    p.subtitle.is-6 Mini React App for checking seasons and the mood
                    p
                      a(href='https://github.com/UnicornEatingPopcorn/seasons_react')
                        i.icon.icon-github
                        span Season Check Code
                    p
                      a(href='https://youtu.be/fPMctsAJYZQ')
                        i.icon.icon-youtube
                        span Season Check Video
              .column
                .card
                  .card-image
                    figure.image.is-16by9
                      img(src='/assets/images/clown.png')
                  .card-content
                    h4.title.is-5 Clown glitch
                    p.subtitle.is-6 Practice of using CSS-tricks for glitch effect on any element.
                    p
                      a(href='https://github.com/UnicornEatingPopcorn/clown')
                        i.icon.icon-github
                        span Clown Glitch Code
                    p
                      a(href='https://youtu.be/N_7sn2KxYG4')
                        i.icon.icon-youtube
                        span Clown Video
          .column.in-4
            h2.title.is-4 Favourite resources
            .columns.is-multiline
              .column
                .title.is-5.mb-3
                  | Courses
                ul.subtitle.is-6
                  li
                    i.icon.icon-library
                    |  Vue Mastery
                  li
                    i.icon.icon-library
                    |  Codewars
                  li
                    i.icon.icon-library
                    |  Udemy.com
                br
                .title.is-5.mb-3
                  | Books
                ul.subtitle.is-6
                  li
                    i.icon.icon-open-book
                    | Eloquent JavaScript
                  li
                    i.icon.icon-open-book
                    | The Imposter's Handbook
                  li
                    i.icon.icon-open-book
                    | Creating Interfaces with Bulma
      footer.section
        nav.level.is-mobile
          .level-left
            .level-item.bg-white
              a(href='http://bulma.io')
                img(src='/assets/images/made-with-bulma.png', alt='Made with Bulma', width='128', height='24')
          .level-right
            a.level-item(href='/resume/assets/AnnaEvlanova_FrontendDeveloper.docx')
              i.icon.icon-file-text2
              |                 Download file
      script(type='text/javascript', src='lib/main.js')
